//========================================
//  Mixins
//========================================

//Standard font
@mixin typography(
    $color: $color-black,
    $size: 1rem,
    $height: 1.4,
    $font: $font-stack-primary
){
    color: $color;
    font-size: $size;
    line-height: $height;
    font-family: $font;
}

//Center width%
@mixin center($width) {
    width: $width;
    margin-left: auto;
    margin-right: auto;
}

//Flex container
@mixin flex(
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null
){
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}
