//========================================
//  Typography
//========================================

// General

body {
    @include typography();
}

.title {
    @include typography($size: 2.5em, $height: 1, $color: $color-black);
    font-weight: 700;
    @media ($brk-tablet) {
        font-size: 3.5em;
    }
}

// Header

.header-nav-text span {
    @include typography($size: .8em, $height: 1);
    text-transform: uppercase;
}

.navigation-list li {
    @include typography($size: .8em, $height: 1);
    text-transform: uppercase;
}

.header-bottom-name {
    @include typography($size: .8em, $color: $color-medium-grey);
    font-weight: 600;
    text-transform: uppercase;
    @media ($brk-tablet) {
        line-height: 2;
    }
}

.header-bottom-title {
    @include typography($size: 1.7em, $height: 1, $color: $color-white);
    font-weight: 700;
    @media ($brk-mobile) {
        font-size: 2em;
    }
    @media ($brk-tablet) {
        font-size: 3em;
    }
}

// About

.about-text-container h2 {
    @include typography($size: 2.2em, $height: 1, $color: $color-black);
    font-weight: 700;
    @media ($brk-mobile) {
        font-size: 2.5em;
    }
    @media ($brk-tablet) {
        font-size: 3.5em;
    }
}

.about-text-description {
    @media ($brk-tablet) {
        font-size: 1.4em;
    }
}

// Projects

.project-card .description {
    h3 {
        @media ($brk-tablet) {
            @include typography($size: 2.5em, $height: 1);

        }
    }
    p {
        @media ($brk-tablet) {
            font-size: 1.4em;
        }
    }
}

// Contact

.contact p {
    @media ($brk-tablet) {
        font-size: 1.3em;
    }
}
