//========================================
//  Typography
//========================================

// General

body {
    @include typography();
}

.title {
    @include typography($size: 2.5em, $height: 1, $color: $color-black);
    font-weight: 700;
    @media ($brk-tablet) {
        font-size: 3em;
    }
    @media ($brk-desktop) {
        font-size: 2.2em;
    }
}

// Header

.header-title-name {
    @include typography($size: .75rem, $height: 1, $color: rgba($color-white, .7));
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.header-title-position {
    @include typography($size: 4.4vw, $height: 1, $color: $color-white);
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    @media ($brk-tablet) {
        font-size: 2.1rem;
        font-weight: 700;
    }
}

// nav

.main-nav li {
    @include typography($size: 1.6em, $height: 1.2, $color: $color-white);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .07em;
}

// About

.about-text-container h2 {
    @include typography($size: 2.2em, $height: 1, $color: $color-black);
    font-weight: 700;
    @media ($brk-mobile) {
        font-size: 2.5em;
    }
    @media ($brk-tablet) {
        font-size: 3.1em;
    }
    @media ($brk-desktop) {
        font-size: 2em;
    }
}

.about-text-description {
    @media ($brk-tablet) {
        font-size: 1.3em;
    }
    @media ($brk-desktop) {
        font-size: .95em;
    }
}

// Projects

.project-card .description {
    h3 {
        @media ($brk-tablet) {
            @include typography($size: 2.2em, $height: 1);
        }
        @media ($brk-desktop) {
            font-size: 1.4em;
        }
    }
    p {
        @media ($brk-tablet) {
            font-size: 1.3em;
        }
        @media ($brk-desktop) {
            font-size: .95em;
        }
    }
}

.description a {
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.buttonGitHub span {
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .5em;
    font-weight: 400;

}

// Contact

.contact p {
    @media ($brk-tablet) {
        font-size: 1.3em;
    }
    @media ($brk-desktop) {
        font-size: .95em;
    }
}
