//========================================
//  Variables
//========================================

//Colours
$color-white: #fff;
$color-light-grey: #f6f6f6;
$color-medium-grey: #666;
$color-black: #000;
$color-accent-green: #a1a977;

//Fonts
$font-stack-primary: 'Montserrat', sans-serif;

//Layout
$max-width: 1200px;

//Spacing
$gutter: 2vh;

// Break points
$brk-mobile : 'min-width: 400px';
$brk-tablet : 'min-width: 768px';
$brk-desktop : 'min-width: 1024px';
