//========================================
//  Layout Contact
//========================================

.contact {
    @include flex($just: center);
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    @media ($brk-tablet) {
        width: 80vw;
    }
}

.contact .content {
    @media ($brk-desktop) {
        max-width: 600px;
    }
}

.social-icons {
    @include flex($just: space-around);
    @media ($brk-desktop) {
        justify-content: space-between;
    }
}
