//========================================
//  Layout Header
//========================================


.header-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    transform: translateY(-50%);
}

.main-nav {
    position: absolute;
    margin: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
