//========================================
//  Layout Projects
//========================================

.projects .content {
    @include flex($dir: column);
    margin: 0 auto;
    width: 80vw;
    @media ($brk-tablet) {
        width: 95vw;
    }
    @media ($brk-desktop) {
        width: 70vw;
        max-width: 900px;
    }
}

.project-card {
    @include flex($dir: column);
    @media ($brk-tablet) {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        text-align: right;
    }
}

.project-card:nth-child(2n) {
    @media ($brk-tablet) {
        flex-direction: row;
        text-align: left;
    }
}
