//========================================
//  Component About
//========================================

.about-img {
    background-image:
        linear-gradient(rgba(255,255,255,0.3), rgba($color-accent-green, .4)),
        url('../img/whitney-profile-picture.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12em;
    @media ($brk-tablet) {
        height: 20em;
    }
    @media ($brk-desktop) {
        width: 20vw;
        max-width: 250px;
    }
}
