//========================================
//  Component Contact
//========================================

.contact {
    height: 100%;
}

.contact .content h2 {
    margin-bottom: 1.4em;
}

.social-icons {
    margin-top: 3em;
    margin-bottom: 3em;
    @media ($brk-tablet) {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

.social-icons a {
    display: inline-block;
    padding: 7vw;
    width: 22vw; // MS Edge fix
    height: 22vw; // IE fix
    background: $color-white;
    border: none;
    @media ($brk-tablet) {
        padding: 5vw;
        width: 15vw;
        height: 15vw;
    }
    @media ($brk-desktop) {
        padding: 40px;
        width: 124px;
        height: 124px;
    }
}

.social-icon svg {
    fill: rgba($color-black, .3);
}
