//========================================
//  Components Header
//========================================
header {
    height: 100%;
    position: relative;
}

.header-top {
    background: url('../img/header-background.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 80%;
}

.header-nav {
    min-height: 3.375rem;
    padding: $gutter;
}

.header-nav-text span {
    display: block;
    @media ($brk-tablet) {
        // display: inline-block;
    }
}

.button-menu {
    background: none;
    border: none;
    padding: 0;
    margin-right: $gutter;
    @media ($brk-tablet) {
        display: none;
    }
}

nav {
    display: none;
    @media ($brk-tablet) {
        display: block;
        width: 60%;
    }
}

.navigation-list li a {
    padding: 1em;
}

.header-bottom {
    height: 20%;
    color: $color-white;
    background-color: $color-black;
    padding: $gutter;
}

.header-bottom-title {
    margin: 0;
}
