//========================================
//  Components Header
//========================================

header {
    height: 100%;
    position: relative;
    background: url('../img/header-background.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.header-title-name {
    display: inline-block;
    margin: 0;
    padding: .5em;
    background-color: rgba($color-black, .7);
}

.header-title-position {
    display: inline-block;
    margin: .5em 0;
    background-color: rgba($color-black, 0.8);
    padding: .2em .5em;
    border-radius: 2px;
}

.main-nav {
    color: $color-white;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
}

.open .main-nav {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.4s;
    -webkit-transition: opacity 0.2s ease-in 0.4s;
    -moz-transition: opacity 0.2s ease-in 0.4s;
    -ms-transition: opacity 0.2s ease-in 0.4s;
}
