//========================================
//  Component Projects
//========================================

.projects {
    background: $color-white;
    padding: 10% 0 15% 0;
}

.projects .content {
    h2 {
        margin-bottom: 1.5em;
        @media ($brk-tablet) {
            margin-bottom: 2em;
        }
        @media ($brk-desktop) {
            margin-bottom: 4em;
        }
    }
}

.project-card {
    position: relative;
}

.project-card:not(:last-child) {
    margin-bottom: 8em;
}

.project-image {
    img {
        display: block;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    @media ($brk-tablet) {
        width: 45%;
    }
    @media ($brk-desktop) {
        max-width: 340px;
        width: 40%;
    }
}

.project-card .description {
    h3 {
        margin-bottom: 0;
        @media ($brk-tablet) {
            margin-bottom: .5em;
        }
    }
    p {
        margin: 0;
    }

    @media ($brk-tablet) {
        width: 45%;
    }
    @media ($brk-desktop) {
        width: 50%;
    }
}

.description a {
    display: inline-block;
    padding: .2em 1.5em;
    margin-top: 1em;
    border-radius: 1px;
    border: 1px solid $color-black;
}

.view-repo {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: -5px;
    bottom: -10px;
    right: -5px;
    background-color: rgba($color-white, .95);
    transition: opacity .4s ease-in .1s;
    text-align: left;
    p {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%)
    }
}

.view-repo:focus,
.view-repo:active {
    cursor: default;
    outline: none;
    opacity: 1;
    a {
        display: block;
        @media ($brk-desktop) {
            display: inline-block;
        }
    }
}

.proj-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%)translateX(-40%);
    a {
        display: none;
        text-align: center;
        padding: .5em 1em;
        outline-offset: -1px;
        transition: .2s linear;
    }
    .demo {
        background-color: $color-black;
    }
    .repo {
        outline: 1px solid $color-black;
    }
}

.demo:hover {
    outline: 1px solid $color-black;
    background-color: $color-white;
    color: $color-black;
}

.repo:hover {
    outline: none;
    color: $color-white;
    @include gradientAnimation($dur: 10s);
}
